*{
    box-sizing: border-box;
}
body{
    background-color: white;
    color:black
    
}

.container-menu{
    margin-top: 100px;
}

/**Barra de navegacion*/

.navbar-brand{
    font-family: 'Caveat', cursive;
    font-family: 'Solitreo', cursive;
    font-size: 20px; 
    color: white; 
    font-weight: bolder;  
}
.nav-link{
    font-family: 'Caveat', cursive;
    font-family: 'Solitreo', cursive;
    font-size: large;
    color: white
}

/**contenido del cv: sobre mi, objetivos, experiencia, formación y conocimientos*/

#col2{
    position: absolute;
    right: 0ch;
}

#contacto{
    margin-top: 0px;
}

h5{
    font-family: caveat, cursive;
    font-size: 60px;
}

p{
    font-size: larger;
    font-family: 'Caveat', cursive;
    font-family: 'Solitreo', cursive;
    margin-top: 20px;
    margin-bottom: 20px;
}

.list-group1{
    font-weight: bold;
    font-size: large;
    font-family: 'Caveat', cursive;
    font-family: 'Solitreo', cursive;
    list-style: none;
}

.list-group2{
    font-size: large;
    font-family: 'Caveat', cursive;
    font-family: 'Solitreo', cursive;
    margin-top: 20px;
    margin-bottom: 20px;
    list-style: none;
}

/**Formulario de contacto*/
.hide{
    display: none;
}

.show{
    display: block;
}

#col1{
    position: fixed;
    left: 0ch;
    margin-top: -40px;
}

#p1{
    font-size: larger;
    margin-top: 5px;
    margin-bottom: 20px;
}

.form-label{
    font-family: caveat, cursive;
    font-size: 22px;
    margin: 0px;
    padding: 0px;
}

strong{
    color: red;
}

.btn{
    background-color: gray;
    border-color: gray;
    font-family: caveat, cursive;
    font-size: 20px;
}

/**Media-query*/
@media (max-width: 992px){
    #col1{
        position: relative;
    }

    #col2{
        position: relative;
        margin-top: auto;
    }
}